{% extends "app/layout.html" %}
{% load static %}
{% block content %}


<header class="masthead">
            <!--<div class="container d-flex h-100 align-items-center">-->
                <div class="mx-auto text-center">
                    
                    <img class="masthead-img" src={% static 'app/assets/img/house.png' %} /></center>
                    <h1 class="mx-auto my-0">FuzzyApartment</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Rozmyta wyszukiwarka ofert mieszkań</h2>
                        
                    <a class="btn btn-primary js-scroll-trigger" href="#solution">Rozpocznij</a>
                </div>
            
</header>
<div class="jumbotron">

    <div id="solution" class="solution" style="margin-top: 5%;">
        <div class="form">
        <form method="post">
                <center>
            <table>

                        {{formUserInput.as_table}}  

            </table>
    </center>
    {% csrf_token %}
    <p><center><input type="submit" class="btn btn-primary" value="Szukaj" /></center></p>
    </form>
            </div>
        </div>
</div>



{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - FuzzyApartment</p>
        </footer>


    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>

