{% extends "app/layout.html" %}
{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#loader").hide();
  $("#show").click(function(){
    $("#loader").show();
      $("#tohide").hide();
          var setBlur = function(ele, radius) {
            $(ele).css({
               "-webkit-filter": "blur("+radius+"px)",
                "filter": "blur("+radius+"px)"
           });
       },

       // Generic function to tween blur radius
       tweenBlur = function(ele, startRadius, endRadius) {
            $({blurRadius: startRadius}).animate({blurRadius: endRadius}, {
                duration: 10000,
                easing: 'swing', // or "linear"
                                 // use jQuery UI or Easing plugin for more options
                step: function() {
                    setBlur(ele, this.blurRadius);
                },
                callback: function() {
                    // Final callback to set the target blur radius
                     // jQuery might not reach the end value
                     setBlur(ele, endRadius);
                }
            });
        };

    // Start tweening
    tweenBlur('.bluranimation', 0, 30);
});
  });
</script>
<div id="loader"><div class="mx-auto text-center"><img class="masthead-img bluranimation" src={% static 'app/assets/img/house.png' %} /><h1>Ładowanie wyników...</h1></div></div>
<div id="tohide">
<header class="masthead">
            <!--<div class="container d-flex h-100 align-items-center">-->
                <div class="mx-auto text-center">
                    <center>
                    
                    <img class="masthead-img blurring" src={% static 'app/assets/img/house.png' %} />

                    <h1 class="mx-auto my-0">FuzzyApartment</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Rozmyta wyszukiwarka ofert mieszkań</h2>
                        </center>
                    <a class="btn btn-primary js-scroll-trigger" href="#solution">Rozpocznij</a>
                </div>
            
</header>
<div class="jumbotron">

    <div id="solution" class="solution" style="margin-top: 5%;">
        <div class="form">
        <form method="post">
                <center>
            <table>

                        {{formUserInput.as_table}}  

            </table>
    </center>
    {% csrf_token %}
    <p><center><input type="submit" class="btn btn-primary" id="show" value="Szukaj" /></center></p>
    </form>
            </div>
        
        </div>
    </div>

        <hr/>
        <footer class="mx-auto text-center">
            <p>&copy; {{ year }} - FuzzyApartment</p>
        </footer>

</div>
{% endblock %}



    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>

