<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - FuzzyApartment</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/styles.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body style="padding-top: 0px;">
    {#<div class="container">#}
        <div class="navbar navbar-inverse navbar-fixed-top position-sticky">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Strona główna</a></li>
                    <li><a href="{% url 'about' %}">Informacje</a></li>
                    <li><a href="{% url 'contact' %}">Kontakt</a></li>
                </ul>

            </div>
    </div>
   


{% block content %}{% endblock %}
    {#</div>#}

</body>
</html>